<% content_for :header do -%>
<%= javascript_include_tag "jquery.KinSlideshow-1.2.1.min", :cache => true %>
<script type="text/javascript">
$(function(){
    $("#KinSlideshow").KinSlideshow({
        moveStyle:"right",
        titleBar:{titleBar_height:35,titleBar_bgColor:"#FFFFFF",titleBar_alpha:0.5},
        titleFont:{TitleFont_size:14,TitleFont_color:"#000000",TitleFont_weight:"bolder"},
        btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#000000",btn_fontColor:"#000000",
        btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#ffffff",
        btn_borderHoverColor:"#000000",btn_borderWidth:1}
    });

    //after slideshow initialize, focus images are moved into new container
    //need to re-thickboxize them
    tb_init("#KSS_content a.thickbox, #KSS_contentClone a.thickbox");
})

</script>
<% end -%>


<!--左侧-->
<div class="content_left">
    <!--跑马灯-->
	<% pcs = PanelContent.list_contents("公告字幕") %>
	<% unless pcs.blank? %>
    <div id="reception">
        <div class="news">
            <marquee scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
				<% pcs.each do |pc| %>
	                <a href="<%= pc.link %>" target="_blank"><%= h pc.description %></a>
				<% end %>
            </marquee>
        </div>
        <div id="closeb" > <a href="javascript:;" onclick="closereception();" title="关闭"><img src="/images/eyok05.jpg" /></a> </div>
    </div>
	<% end %>
    <!--跑马灯结束-->
    <!--焦点图-->
    <div class="ff">

        <div id="KinSlideshow" style="visibility:hidden;">
            <%pcs = PanelContent.list_contents("焦点图",4)%>
            <%pcs.each do |pc|%>
            <a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><img src="<%=pc.uploaded_data.url%>" alt="<%=pc.title%>" width="662" height="313" /></a>
			<span style="color:white;"> | </span>
            <%end%>
        </div>

    </div>
    <!--焦点图结束-->
    <!--广告投放-->
    <div class="ad"><a href="/html/ifram/advertising.html?keepThis=true&TB_iframe=true&height=400&width=605" class="thickbox"><img src="/images/eyok16.jpg" /></a></div>
    <!--广告投放结束-->
    <!--本期精华-->
    <div class="hot">
        <div class="hot_01"></div>
        <div class="hot_02">
            <%pcs = PanelContent.list_contents("本期精华-左",1)%>
            <%pcs.each do |pc|%>
            <div class="hot_02content">
                <span class="span_imgbg"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><img src="<%=pc.uploaded_data.url%>" /></a></span><span class="span_title"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><b class="red">沟通</b>-<%=pc.title%></a></span><span class="span_content"><p><a style="color:#6d6d6d" href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" title="新闻内容" class="thickbox"><%=pc.description%></a></p></span>
            </div>
            <%end%>

            <%pcs = PanelContent.list_contents("本期精华-中",1)%>
            <%pcs.each do |pc|%>
            <div class="hot_02content">
                <span class="span_imgbg"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><img src="<%=pc.uploaded_data.url%>" /></a></span><span class="span_title"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><b class="red">传承</b>-<%=pc.title%></a></span><span class="span_content"><p><a style="color:#6d6d6d" href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" title="新闻内容" class="thickbox"><%=pc.description%></a></p></span>
            </div>
            <%end%>

            <%pcs = PanelContent.list_contents("本期精华-右",1)%>
            <%pcs.each do |pc|%>
            <div class="hot_02content">
                <span class="span_imgbg"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><img src="<%=pc.uploaded_data.url%>" /></a></span><span class="span_title"><a href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" class="thickbox"><b class="red">创新</b>-<%=pc.title%></a></span><span class="span_content"><p><a style="color:#6d6d6d" href="<%=pc.link%>?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=640" title="新闻内容" class="thickbox"><%=pc.description%></a></p></span>
            </div>
            <%end%>

            <div class="blank0"></div>
        </div>
    </div>
    <!--本期精华结束-->
    <!--微薄开心-->
    <div class="link">
        <div class="sina"><a href="http://t.sina.com.cn/xshb" target="_blank">成为粉丝</a></div>
        <div class="kaixin"><a href="http://www.kaixin001.com/home/?uid=94844394" target="_blank">加为好友</a></div>
        <div class="blank0"></div>
    </div>
    <!--微薄开心结束-->
</div>
<!--左侧结束-->
<!--右侧-->
<div class="content_right">
    <!--小导航-->
    <div id="menu">
        <ul id="nav">
            <li class="mainlevel" id="mainlevel_01"><a href="#">星尚榜</a>
                <ul id="sub_01">
                    <li style="padding-left:5px"><a href="http://www.enjoyoung.cn/news/content/287" target="_blank">星尚明星榜</a></li>
                    <li style="padding-left:5px;border-top:1px solid #fff; "><a href="/html/ranking.html" >星尚价值榜</a></li>
                    <li style="padding-left:5px;border-top:1px solid #fff; "><a href="javascript:alert('即将推出！');">星尚榜3</a></li>
                </ul>
            </li>
            <li class="mainlevel" id="mainlevel_02"><a href="/html/coverage.html">零售网点</a> </li>
            <li class="mainlevel" id="mainlevel_02"><a href="javascript:alert('即将推出！');">电子杂志</a> </li>
            <li class="mainlevel" id="mainlevel_02" style="background: url(/images/eyok13.jpg) no-repeat 0 4px; margin-left:4px; width:75px; "><a href="http://itunes.apple.com/cn/app/id404107863?mt=8" target="_blank">APP免费下载</a> </li>
            <div class=" blank0"></div>
        </ul>
    </div>
    <!--小导航结束-->

    <!--最新鉴赏-->
    <%pcs = PanelContent.list_contents("最新鉴赏",1)%>
    <%pcs.each do |pc|%>
    <div class="appreciate">
        <span><img src="/images/eyok14.jpg" /></span>
        <span style="margin:10px;">
            <a href="<%=pc.link%>"><%=image_tag (pc.uploaded_data.url)%></a>
        </span>
    </div>
    <%end%>
    <!--最近鉴赏结束-->

    <!--小广告-->
    <div class="ad"><a href="/xsvips"><img src="/images/eyok17.jpg" /></a></div>
    <!--小广告结束-->

    <!--读编往来-->
    <%pcs = PanelContent.list_contents("读编往来",1)%>
    <%pcs.each do |pc|%>
    <div>
        <img src="/images/eyok18.jpg" />
        <div class="questions">
            <div class="questionsleft"><%=image_tag (pc.uploaded_data.url)%></div>
            <div class="questionsright">
                <ul>
                    <li><a class="hui" href="<%=pc.link%>" target="_blank"><%=pc.description%></a></li>
                </ul>
            </div>
            <div class="blank0"></div>
            <div class="questionsbottom">
                <a href="<%=pc.link%>" target="_blank"><img src="/images/eyok20.jpg" /></a>
                <div class="blank0"></div>
            </div>
        </div>
    </div>
    <%end%>
    <!--读编往来结束-->

    <!--小广告-->
    <div class="ad"><a href="/subscription" target="_blank"><img src="/images/eyok22.jpg" /></a></div>
    <!--小广告结束-->

    <!--在线调查-->
    <%pcs = PanelContent.list_contents("在线投票",1)%>
    <%pcs.each do |pc|%>
    <div><img src="/images/eyok23.jpg" />
        <div class="questions">
            <div class="questionscontent">
                <ul>
                    <li><strong><a href="<%=pc.link%>" target="_blank"><%=pc.description%></a></strong></li>
                </ul>
            </div>
            <div class="questionsbottom"><a href="<%=pc.link%>" target="_blank"><img src="/images/eyok21.jpg" /></a><a href="#" style="display:none;"><img src="/images/eyok24.jpg" /></a>
                <div class="blank0"></div>
            </div>
        </div>
    </div>
    <%end%>
    <!--在线调查结束-->
</div>
<!--右侧结束-->
<div class="blank0"></div>