<table width="100%" style="padding:15px;" class="GoodsInfoWrap">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <div class="goodspic">
                    <div style="width: 300px; height: 300px;" class="goods-detail-pic">
                        <a style="width: 300px; height: 300px; display: table-cell; vertical-align: middle;">
                            <img alt="超值订阅《星尚画报》周刊" src="/images/newspaper.jpg">
                        </a>
                    </div>
                </div>
            </td>
            <td width="60%" valign="top">
                <%remote_form_for @order_line_item,:update=>"cart_list" do |f|%>
                    <%=f.hidden_field :product_id,:value=>@product.id%>
                    <h2 class="goodsname">超值订阅《星尚画报》周刊</h2>
					<p class="brief">《星尚画报》系星尚传媒2011年倾力打造的时尚生活周刊新贵，秉承“影响中国人的生活方式”的理念，致力定制个性时尚生活，在这个文化多元化的时代，做最独特的周刊画报。</p>
					<p class="brief">《星尚画报》每周传播全球生活资讯，解读都市时尚，提倡生活关怀，倡导健康，积极，环保的观念，发掘中国生活态度，传递中国生活价值。</p>
					<p class="brief">每周二上海，北京，广州等各大城市同步上市，全年48期，2012年期零售价10元。</p>
					<p class="brief" style="color:red !important">立即在线订阅2012年《星尚画报》有超值优惠！</p>
					<p class="brief">欢迎同步关注官方微博：<a href="http://www.weibo.com/xshb" target="_blank">weibo.com/xshb</a>（星尚画报）</p>
                    <!-- <p class="brief">说明：平邮资费由杂志社承担，挂号每份需另加3元</p> -->
                        <ul class="goodsprops clearfix">
                            <li><span>计量单位：</span>年度-季度</li>
                        </ul>

                        <ul class="goods-price list" id="p_">
                            <li>
                                <span>市场价：</span>
                                <i class="mktprice1"> ￥120.00-￥480.00 </i>
                            </li>
                            <li>
                                <span>在线订购价：</span>
                                <span class="price1"> ￥120.00-￥360.00 </span>
                            </li>
                        </ul>

                        <%Property.all.each do |p|%>
                        <ul class="goods-price list" style="display:none;" id="p_<%=p.id%>">
                            <li>
                                <span>市场价：</span>
                                <i class="mktprice1"> ￥<%=p.market_price%> </i>
                            </li>
                            <li>
                                <span>在线订购价：</span>
                                <span class="price1"> ￥<%=p.price%> </span>
                            </li>
                        </ul>
                        <%end%>

                        <div class="hightline ">
                            <div class="hightbox">
                                <div class="buyinfo">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span>订阅方式：</span>
                                                </td>
                                                <td>
                                                    <div style="padding:0 20px;">
                                                        <%=f.select :property_id , Property.all.collect {|p| [p.name,p.id]},:include_blank=>"请选择投递方式"%>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span>购买数量：</span>
                                                </td>
                                                <td>
                                                    <div class="Numinput">
                                                        <%=f.text_field :quantity,:size=>3,:value=>1 %>
                                                        <!-- <span class="numadjust increase "></span>
                                                        <span class="numadjust decrease "></span> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="visibility: visible;height:40px" class="btnBar">
                                    <div class="floatLeft">
                                        <input type="submit" value="" class="btn-buy" <%= if (!current_user) then "onclick='alert(\"请先登录。\");window.location.href=\"/login\";return false;'" end%>>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </td>
            </tr>
        </tbody>
    </table>

<script type="text/javascript" charset="utf-8">
    $("#order_line_item_property_id").change(function(){
        $(".goods-price").hide();
        $("#p_"+this.value).show();
    })
</script>


<div id="cart_list">
    <%=render :partial => "order_line_items/items_list"%>
</div>