<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>星尚画报</title>
<%= stylesheet_link_merged 'base' %>
<%= javascript_include_merged 'base' %>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<%= yield :header %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20722833-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% if flash_message == "注册成功" %>
	<script type="text/javascript" charset="utf-8">
		_gaq.push(['_trackPageview', 'SignUpSuccess']);
	</script>
<% end %>
</head>
<body>
<div class="enjoyoungok">
    <!--头-->
        <%=render :partial => "shared/header"%>
    <!--头结束-->

    <div id="flash">
		<%= flash_message %>
	</div>

    <!--内容-->
    <div class="content">
        <%= yield %>
    </div>
    <!--内容结束-->

    <!--底部-->
        <%= render :partial => 'shared/footer' %>
    <!--底部结束-->
</div>
<%= yield :footer %>
</body>
</html>
