<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>星尚画报</title>
<%= stylesheet_link_merged 'base' %>
<%= javascript_include_merged 'base' %>

<%= yield :header %>
</head>
<body>
<div class="enjoyoungok">
    <!--头-->
        <%=render :partial => "shared/header"%>
    <!--头结束-->

    <div id="flash">
		<%= flash_message %>
	</div>

    <!--内容-->
    <div class="content">
        <%= yield %>
    </div>
    <!--内容结束-->

    <!--底部-->
        <%= render :partial => 'shared/footer' %>
    <!--底部结束-->
</div>
</body>
</html>
